body{
margin-top: 0;
margin-left: 110px;
margin-right: 110px;
margin-bottom: 0;
background-color: rgb(255, 255, 255);
height: 1000px;
font-family: "Roboto", Helvetica, Arial, sans-serif;
}
.head{
    width: 100%;
    height: 130px;
    background-color: rgb(96, 96, 128);
    
}
.left{
    width:30%;
    height: 130px;
    background-color: rgb(255, 255, 255);
    float: left;
}
.logo-1{
    width: 98px;
    height: 100px;
    position: relative;
    top: 20px;
}
.rgt{
    width:70%;
    height: 130px;
    background-color: rgb(153, 93, 93);
    float: left;
    

}
.top{
    width:100%;
    height: 50%;
    background-color: rgb(255, 255, 255);
    float: left;
    text-align: right;
    font-size: 17px;
    font-weight: 500;
}

.top-bar{
   margin-top: 15px;  
}
.top a{
    color: rgb(29, 27, 27);
    text-decoration: none;
    font-family: "Roboto Condensed", "Arial Narrow", Helvetica, Arial, sans-serif;
}
.top a:hover{
     text-decoration: underline;
}
.partner{
    padding-left: 26px;
    padding-right: 27px;
}
.search{
    width: 248px;
    height: 36px;
    margin: 9px -4px;
    box-sizing: border-box;
    font-size: 14px;
    border-color: #bbb9b9;
    border-width: .5px;
    border-style: solid;
    padding-left: 12px;
  }
  .search-icon{
    position: relative;
    right: 30px;
  }
.bottom{
    width:100%;
    height: 50%;
    background-color: rgb(255, 255, 255);
    float: left;
    text-align: center;
    
}
.cmn{
  
    margin-left: 38px;
    position: relative;
    top: 24px;
    right: 35px;
    color: black;
    text-decoration: none;
    font-family: "Roboto Condensed", "Arial Narrow", Helvetica, Arial, sans-serif;
    font-size: 19px;
    font-weight: 550;

}
.cmn:hover{
    text-decoration:underline;
}

.img1{
    width: 100%;
    height: 365.2px;
    background-image:url(./star-img/big-banner.jpg);
    display: inline-block;
    margin-bottom: 0;
}
.txt1{
    position: relative;
    top: 280px;
    width: 100%;
    height: 85px;
    background-color: rgba(0,0,0,0.5);
    color: #ffffff;
    text-align: center;
    font-size: 28px;
}
.title{
    padding-top: 20px;
}
h1{
   margin: 0;
    display: inline-block;
}
.img2{
   margin-top: 0;
    width: 100%;
    height:650px;
    background-color: #0e4d82;
    text-align: center;
    margin-bottom: 0;
}
.txt2{
    width: 100%;
    height: 100px;
    background-color: transparent;
    font-size: 30px;
    padding-top: 30px;
    color: #fff;
}
.txt2-p{
  margin: 0;
  position: relative;
  top: 10px;
    
}
.grid-1{
    margin-left: 35px;
    display: grid;
    grid-template-columns: 249px 249px 249px 249px;
    row-gap: 20px;
    column-gap: 20px;
}
.picture{
    background-color: rgb(255, 255, 255);
    height: 190.5px;
    
}

.pic-img{
    width: 100%;
    height: 130px;
    background-color: rgb(255, 255, 255);
}
.pic-img-img{
    position: relative;
    top: 15px;
}
.pic-txt{
    font-size: 20px;
    padding-top: 10px;
   
}
.pic-txt a{
   color: #1a1818;
    
}
.pic-txt a:hover{
    color: rgb(1, 131, 218);
    
}
.cnt1-button{
    width: 100%;
    height: 100px;
    margin-top: 20px;
}
.div2{
    width: 100%;
    height: 450px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    display: grid;
    grid-template-columns: 379px 379px 379px;
    column-gap: 8px;
    margin-top: 20px;
    
}
.div2-1{ 
    margin-right: 25px;
        height:450px ;
        background: #0e4d82;     
}
.color2{
  background-color: #218742;
}
.color3{
    background-color: #007abf;
}
.search-img{
    position: relative;
    top: 39px;
    right: 28px;
}

.div2-img{
    width: 282.7px;
    height: 188px;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 15px;
    left: 35px;
}
.div2-h2{
    position: relative;
    top: 10px;
    width: 100%;
    height: 60px;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    color: #fff;
}
.div2-p{
    color: #fff;
    width: 100%;
    height: 70px; 
    font-family: "Roboto", Helvetica, Arial, sans-serif;  
}
.div2-button{
    width: 100%;
    height: 50px;
    background-color: #0e4d82;
}
.div2-btn{
   background-color: transparent;
    margin-top: 30px;
   
}
.button-1{
    padding-bottom: 10px;
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 15px;
    background-color: #218742;
    border-radius: 3px;
    border: 1px solid white;
    cursor: pointer;
    display: inline-block;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: underline;
    color: white;
}

.button-1:hover{
    opacity: .8;
}

.paragrap2{
    line-height: 25px;
    margin-top: 0;
    
}
.text-code{
    width: 135px;
    height: 40px;
    font-family: roboto, arial;
    font-size: 15px;
    position: relative;
    top: 20px;
    right: 10px;
}
.button-2{
    padding-bottom: 10px;
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 15px;
    background-color: #0e4d82;
    border-radius: 1px;
    cursor: pointer;
    display: inline-block;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: underline;
    border: 1px solid #fff;
    color: #fff;
}
.button-2:hover{
  background-color: #1b1da1;
}
.pic{
    width: 100%;
    height: 100%;
}
.div1-1{
    width: 348px;
    height: 100%;
    background-color: rgb(255, 255, 255);
}
.img3-style{
  background-color: #218742;
}
.img4{
    width: 100%;
    height: 620px;
    background-color: rgb(255, 255, 255);

}
.txt{
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 28px;
    font-family: roboto,arial;
    color: #474747;
    line-height: 40px;

}
.div1{
    width: 100%;
    height: 520px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    
   display: block;
}
.div1-1{
    float: left;
    margin-right: 25px;
}

.div1-img{
    width: 100%;
    height: 220px;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 15px;
}
.div1-h2{
    position: relative;
    top: 10px;
    width: 100%;
    height: 60px;
    font-weight: ;
    font-size: 22px;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}
.div1-p{
    width: 100%;
    height: 70px; 
    font-family: "Roboto", Helvetica, Arial, sans-serif;  
}
.div1-button{
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
}
.button{
   padding-bottom: 10px;
   padding-left: 15px;
   padding-top: 10px;
   padding-right: 15px;
   background-color: #218742;
   border: 0;
   border-radius: 3px;
   color: #fff;
   cursor: pointer;
   display: inline-block;
   font-family: "Roboto", Helvetica, Arial, sans-serif;
   font-size: 1rem;
   font-weight: 400;
   text-decoration: underline;

}


.pic{
    width: 100%;
    height: 100%;
}
.div1-1{
    width: 348px;
    height: 100%;
    background-color: rgb(255, 255, 255);
}
.img5{
    width: 100%;
    height: 390px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(192, 188, 188);
    
}
.last-img{
    width: 705px;
    height: 311px;
    position: relative;
    left: 0px;
    top: 40px;
}
.main-ftr{
    height: 250px;
    background-color: rgb(255, 255, 255);
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 100%;
    line-height: 1.5;
    margin-top: 20px;
    position: relative;
    top: 410px;
    
}
.sec-1{
 width: 130px;
 height: 100%;
 background-color: rgb(255, 255, 255);
 float: left;
}
.logo-2{
    width: 98px;
    height: 100px;
    position: relative;
}
.sec-2{
    width: 600px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    float: left;
   }
   .one{
    width: 50%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    float: left;
   }
   .two{
    width: 50%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    float: left;
   }
   .sec-3{
    width: 399px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    float: left;
    
   }
   ul li{
    list-style-type: none;
    line-height: 40px;
    
   }
   ul a{
    color: #1a1818;
    text-decoration: underline;
   }
  ul a:hover{
    text-decoration: none;
  }
 .size{
  font-size: 12px;
  padding-left: 3px;
 }
   .seal{
     position: relative;
     left: 190px;
     width: 100px;
   }